/* body { 

    background-image:url("assets/images/BG.jpg") ; 
     background-size: cover;
     background-position: center;

        /* backgroundImage:`url("general-chat\\src\\assets\\images\\BG.jpg")`, // Replace with your image URL */
        /* backgroundSize: 'cover',  // This will ensure the image covers the whole screen
        backgroundPosition: 'center',  // This will center the image
        paddingTop: '3px',  // Moves the content down a little, you can adjust this value
  }  */
  ::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(223, 223, 223);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 171, 85);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: purple;
  }
  