/* body { 

    background-image:url("assets/images/BG.jpg") ; 
     background-size: cover;
     background-position: center;

        /* backgroundImage:`url("general-chat\\src\\assets\\images\\BG.jpg")`, // Replace with your image URL */
        /* backgroundSize: 'cover',  // This will ensure the image covers the whole screen
        backgroundPosition: 'center',  // This will center the image
        paddingTop: '3px',  // Moves the content down a little, you can adjust this value
  }  */
 /* Customize the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Scrollbar track styling */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Scrollbar thumb styling */
::-webkit-scrollbar-thumb {
  background: #22a9d3;
  border-radius: 10px;
}

/* Scrollbar thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #1b8ea5;
}
