
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Scrollbar track styling */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Scrollbar thumb styling */
::-webkit-scrollbar-thumb {
  background: #22a9d3;
  border-radius: 10px;
}

/* Scrollbar thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #1b8ea5;
}
.swal-popup-front {
  z-index: 2000 !important;
}
